body {
  background-color: #e9e8e5;
  font-family: "Montserrat", sans-serif;
}

.weather-app {
  background: #b4a79e;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  margin: 45px auto;
  max-width: 600px;
  padding: 30px;
}

h1 {
  font-family: "Courier New", monospace;
}

.search-form-input {
  background-color: #e9e8e5;
  border: none;
  border-radius: 6px;
  width: 80%;
  padding: 20px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  color: #847575;
}
