body {
  background-color: #e9e8e5;
}
.weather-app {
  background: #b4a79e;
  border-radius: 10px;
  box-shadow: 0 30px 50pg rgba(65, 50, 100, 0.08);
  margin: 30px auto;
  max-width: 600px;
  padding: 30px;
}
