body {
  background-color: #e9e8e5;
  font-family: "Montserrat", sans-serif;
}

a {
  color: #847575;
}

.weather-app {
  background: #b4a79e;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  margin: 45px auto;
  max-width: 600px;
  padding: 30px;
}

header {
  border-bottom: 1px solid #847575;
  padding: 0 0 30px 0;
}

h1 {
  font-family: "Courier New", monospace;
}

.search-input {
  background-color: #e9e8e5;
  border: none;
  border-radius: 6px;
  color: #847575;
  font-family: "Courier New", Courier, monospace;
  font-weight: 550;
  font-size: 16px;
  padding: 15px 20px;
  width: 80%;
}

.search-button {
  background-color: #847575;
  border: none;
  border-radius: 6px;
  color: #e9e8e5;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  font-weight: 550;
  margin-left: 5px;
  padding: 15px 25px;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.current-city {
  color: #847575;
  font-family: "Courier New", Courier, monospace;
  font-size: 50px;
  font-weight: bolder;
  margin-bottom: -5px;
}

.current-details {
  color: #847575;
}

.current-details strong {
  color: #e9e8e5;
}

.current-temperature-icon {
  position: relative;
  top: 30px;
  font-size: 100px;
  margin-right: 30px;
}

.current-temperature-value {
  font-size: 60px;
  font-weight: bold;
  color: #847575;
}

.current-temperature-unit {
  font-size: 50px;
  font-weight: bold;
  color: #847575;
}

.footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #847575;
  padding: 30px 0 0x 0;
  padding-top: 30px;
}

.footer-left {
  text-align: left;
  width: 70%;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #847575 !important;
  text-decoration: none;
}

.footer-left a:hover {
  text-decoration: underline;
  color: #e9e8e5;
}

.footer-right {
  text-align: right;
  width: 30%;
  color: #e9e8e5;
  font-family: "Courier New", Courier, monospace;
  font-size: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.logo {
  width: 25px;
  align-items: flex-end;
  margin-left: 8px;
}
